<script id="result_template" type="text/x-handlebars-template">
  <p class="winner_other">The winner is {{winner}}!</p>
  <p class="winner_you hidden">You win!!!</p>

  <p class="victory">You got {{place}} out of {{total_players}} players.</p>
  <p class="defeat">Better luck next time!</p>

  <p class="victory">Your coupon code is:</p>
  <p class="victory code">{{code}}</p>
  <p class="victory save">Save to my stash!</p>

  <p class="defeat">Find an item within two minutes to win your coupon code</p>

  <p>The next round begins in:</p>
  <p>{{time}}</p>

  <p>Play again?</p>
  <button>Yes!</button>
</script>